<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>io.github.arunvelsriram.save-my-ears</string>
		<key>Program</key>
		<string>/usr/local/bin/save-my-ears</string>
		<key>ProgramArguments</key>
		<array>
			<string>save-my-ears</string>
		</array>
		<key>KeepAlive</key>
		<true/>
		<key>StandardOutPath</key>
		<string>/Users/YOUR_USERNAME/.save-my-ears.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/YOUR_USERNAME/.save-my-ears.log</string>
	</dict>
</plist>
